<h1>Jeff, you got sweet moves.</h1>
<%= image_tag "guitaricon.png", alt:""%>
<h2>Pump up the jam.</h2>
<br />
<iframe src="https://8tracks.com/mixes/5466451/player_v3_universal" width="512" height="250" class="frame"></iframe>
<br />
<br />
<%= image_tag "rope.png", alt:"", class:"image" %>


