<h1>Jeff, it's gonna be okay.</h1>
<br />
<%= image_tag "bearicon.png", alt:""%>
<br />
<br />
<br />
<p>For really real, it is.</p>
<%= link_to "Let's hug it out", new_hug_path, class:"btn" %>
<%= image_tag "compass.png", alt:"", class:"image" %>
