<h1>Jeff, you're pretty smart.</h1>
<br />
<%= image_tag "flagsicon.png", alt:""%>
<br />
<br />
<br />
<p>Just to be sure...</p>
<%= link_to 'Get a second opinion', new_feedback_path, class:"btn" %>
<%= image_tag "flag.png", alt:"", class:"image" %>