<h1>Jeff, you're pretty smart.</h1>
<h2>I am too, so I'll try to give you good feedback. ;)</h2>
<%= image_tag "flagsicon.png", alt:""%>
<br />
<br />
<%= render 'form' %>
<%= image_tag "flag.png", alt:"", class:"image" %>
